<!DOCTYPE html>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<title>User</title>
<link rel="stylesheet" href="../css/utilisateur/lister.css">
<head th:insert="~{fragments/fragment :: head}">
</head>
<body>
<div  th:insert="~{fragments/fragment :: sidebar(school=${school})}"></div>

<div class="main-content">
    <main>
        <header class="header">
            <h1>User (<span th:text="${studentCards.size()}"></span>)</h1>
            <a th:href="@{/cards/add}"> <img th:src="@{../icon/plus.png}" style="width: 10px;height: 10px" alt=""> NouveL Utilisateur</a>
        </header>
        <section class="table-section">
            <table>
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Date d'emission</th>
                    <th>Date d'expiration</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="studentCard:${studentCards}">
                    <td th:text="${studentCard.student.firstName}"></td>
                    <td th:text="${studentCard.student.lastName}"></td>
                    <td th:text="${studentCard.issueDate}"></td>
                    <td th:text="${studentCard.expirationDate}"></td>
                    <td>
                        <a th:href="@{/cards/{id}(id=${studentCard.reference})}">
                            <button class="edit-btn">Modifier</button>
                        </a>
                        <form th:action="@{/cards/delete/{id}(id=${studentCard.reference})}" method="post" style="display:inline;">
                            <button type="submit" class="delete-btn">Supprimer</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </main>

</div>
<!-- Modal de confirmation -->
<div id="confirmationModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>ATTENTION !!!</h2>
        </div>
        <div class="modal-body">
            <p>Voulez-vous supprimer cette carte ?</p>
        </div>
        <div class="modal-footer">
            <button id="confirmYes" class="modal-btn yes-btn">Oui</button>
            <button id="confirmNo" class="modal-btn no-btn">Non</button>
        </div>
    </div>
</div>

<th:block th:insert="~{fragments/fragment :: script-modal}"></th:block>
</body>
</html>
