<!DOCTYPE html>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<title>User</title>
<link rel="stylesheet" href="../css/utilisateur/ajouter.css">
<head th:insert="~{fragments/fragment :: head}">
</head>
<body>
<div  th:insert="~{fragments/fragment :: sidebar}"></div>

<div class="main-content">
    <main>
        <div class="retour-container">
            <a th:href="@{/users}" class="retour">← Retour</a>
        </div>
        <h2 th:text="${user.id == null}?'Ajouter utilisateur':'Modifier utilisateur'"></h2>
        <form id="addStudentForm" th:object="${user}" th:action="@{/users}" method="post">
            <input type="text" th:field="*{id}" hidden>
            <div class="form-row">
                <input type="text" th:field="*{pseudo}" id="pseudo" placeholder="Pseudo" required>
            </div>
            <div class="form-row">
                <input type="password" th:field="*{password}" id="mot de passe" placeholder="Mot de passe" required>
            </div>
            <div class="form-row">
                <input type="password" id="confirmer mot de passe" placeholder="Confirmer mot de passe" required>
            </div>
            <div class="form-row buttons">
                <button type="button" class="btn-cancel">Annuler</button>
                <button type="submit" class="btn-save">Enregistrer</button>
            </div>
        </form>
    </main>
</div>

<th:block th:insert="~{fragments/fragment :: script-modal}"></th:block>
</body>
</html>
