body {
    margin: 0;
    padding: 0;
    font-family: "Archivo Black", sans-serif;
    font-weight: 900;
    font-style: normal;
    display: flex;
    height: 100vh;
    background-color: #E0E0E0;
}


.sidebar {
    background-color: #E0E0E0;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.logo {
    text-align: center;
    display: flex;
}



.logo h2 {
    margin-top: 10px;
    color: #333;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.menu li {
    margin-bottom: 20px;
    font-size: 18px;
    color: #555;
    cursor: pointer;
}

.icon {
    margin-right: 10px;
}

.logout {
    margin-top: auto;
    color: #333;
    cursor: pointer;
    font-weight: bold;
}

.main-content {
    flex: 1;
    padding: 40px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

main {
    flex: 1;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

.retour-container {
    display: flex;
    justify-content: flex-end;
}
.retour {
    color: #333;
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
}

h2 {
    margin-bottom: 30px;
}

form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.form-row {
    display: flex;
    margin-bottom: 20px;
}

.form-row input,
.form-row select {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-row input:last-child,
.form-row select:last-child {
    margin-right: 0;
}

.radio-group {
    display: flex;
    align-items: center;
}

.radio-group label {
    margin-right: 20px;
}

.buttons {
    justify-content: flex-end;
}

.btn-cancel,
.btn-save {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.btn-cancel {
    background-color: #ff4444;
    color: white;
    margin-right: 10px;
}

.btn-save {
    background-color: #44cc44;
    color: white;
}
.menu li.active,
.menu li:hover,
.menu li.active a,
.menu li:hover a {
    color: #000;
    font-weight: bold;
}

.menu a {
    text-decoration: none;
    color: #555555;
}
.logout a {
    text-decoration: none;
    color: #1F1F1F;
}