
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<div th:fragment="sidebar" class="sidebar" >
    <div class="logo">
        <img th:src="@{../icon/etablissement.png}"  style="width: 50px;height: 50px;margin-right: 10px" alt="Mon Etab Logo">
        <h2>Mon Etab</h2>
    </div>
    <ul class="menu">
        <hr>
        <li th:classappend="${currentUrl == '/dashbord'} ? 'active'">
            <a th:href="@{/dashbord}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-grid-3x2-gap-fill" viewBox="0 0 16 16">
            <path d="M1 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1zM1 9a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1z"/>
        </svg> Tableau de bord</a></li>
        <li th:classappend="${currentUrl == '/students' || currentUrl == '/students/add' || currentUrl == '/students/update'} ? 'active'">
            <a  th:href="@{/students}"><img th:src="@{../icon/eleve.png}" style="width: 30px;height: 30px" alt=""> Élèves</a></li>
        <li th:classappend="${currentUrl == '/professors' || currentUrl == '/professors/add' || currentUrl == '/professors/update'} ? 'active'">
            <a th:href="@{/professors}"><img th:src="@{../icon/professeur.png}" style="width: 30px;height: 30px" alt=""> Professeurs</a></li>
        <li th:classappend="${currentUrl == '/users' || currentUrl == '/users/add' || currentUrl == '/users/update'} ? 'active'">
            <a  th:href="@{/users}"><img th:src="@{../icon/user.png}" style="width: 30px;height: 30px" alt=""> Utilisateurs</a></li>
        <li th:classappend="${currentUrl == '/reports'} ? 'active'">
            <a  th:href="@{/reports}"><img th:src="@{../icon/rapport.png}" style="width: 30px;height: 30px" alt=""> Rapport</a></li>
    </ul>
    <div class="logout" style="padding-top: 119%">
        <hr>
        <a th:href="@{/}"><img th:src="@{../icon/logout.png}" style="width: 30px;height: 30px" alt=""> Déconnexion</a>
    </div>
</div>

<th:block th:fragment="script">
    <script src="js/Home.js"></script>
</th:block>
<th:block th:fragment="script-modal">
    <script src="js/Modal.js"></script>
</th:block>
