body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Archivo Black", sans-serif;
    font-weight: 900;
    font-style: normal;
    background-color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 2000px;
}

.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 350px;
    width: 100%;
}



.logo h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

form input[type="text"], form input[type="password"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #555555;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    width: 320px;
    padding: 10px;
    background-color: #555555;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
}

form button:hover {
    background-color: #555;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    margin-right: 10px; /* Ajustez l'espace entre l'image et le texte si nécessaire */
}

.logo-container h2 {
    margin: 0; /* Supprime le margin par défaut du h2 pour un meilleur alignement */
}

.button {
    width: 1000px;
    padding: 10px;
    background-color: #555555;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
    text-decoration: none;
}

.button:hover {
    background-color: #555;
}

