<!DOCTYPE html>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<title>School</title>
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/professeur/ajouter.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<div class="main-content">
    <main>
        <h2>Ajouter parametre Ecole</h2>
<!--        <form id="addStudentForm" th:object="${school}" th:action="@{/PostSchool}" method="post" enctype="multipart/form-data">-->
        <form id="addStudentForm" th:object="${school}" th:action="@{/PostSchool}" method="post" >
            <div class="form-row">
                <input type="text" th:field="*{name}"  placeholder="Nom" required>
                <input type="file" th:field="*{logo}"  placeholder="Photo" required>
            </div>
            <div class="form-row buttons">
                <button type="button" class="btn-cancel">Annuler</button>
                <button type="submit" class="btn-save">Enregistrer</button>
            </div>
        </form>
    </main>
</div>

<th:block th:insert="~{fragments/fragment :: script-modal}"></th:block>
</body>
</html>
